.input-name{
  display: block;
  margin-bottom: 8px;
}

.input-email{
  display: block;
  margin-bottom: 30px;
}

.text{
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.option{
  vertical-align: middle;
  
}

.google{
  display: block;
  width: 300px;
  margin: auto;
}

.google-bar{
  font-size: 15px;
  display: block;
  width: 500px;
  color: gray;
  margin: auto;
  margin-top: 30px;
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.sign-name{
  width: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

.sign-second{
  width: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

.email{
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

.signup{
  color: white;
  font-weight: bolder;
  background-color: rgb(0, 132, 255);
  border: none;
  width: 256px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.request{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}

.location{
  display: block;
  border: none;
  background-color: rgb(236, 235, 235);
  width: 300px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.destination{
  display: block;
  border: none;
  background-color: rgb(236, 235, 235);
  width: 300px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
}

.request-button{
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.schedule{
  background-color: rgb(236, 235, 235);
  color: black;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}